    <link rel="stylesheet" href="/css/navbar.css" />
  </head>
  <body>
      <i id="menu-icon" class="menu-icon fa-solid fa-bars fa-2x"></i>
      <nav class="navbar">
        <ul class="navbar-list">
          <li class="navbar-list-item"><a href="/">Shop</a></li>
          <li class="navbar-list-item"><a href="/products">Products</a></li>
          <% if (isAuthenticated) {%>
          <li class="navbar-list-item"><a href="/cart">Cart</a></li>
          <li class="navbar-list-item"><a href="/orders">Orders</a></li>
          <li class="navbar-list-item"><a href="/admin/add-product">Add Product</a></li>
          <li class="navbar-list-item"><a href="/admin/products">Admin Products</a></li>
        <%} %>
        </ul>
        <ul class="navbar-list">
            <% if (!isAuthenticated) { %>
                <li class="navbar-list-item">
                    <a href="/login">Login</a>
                </li>
                <li class="navbar-list-item">
                    <a href="/signup">Signup</a>
                </li>
            <% } else { %>
                <li class="navbar-list-item">
                    <form action="/logout" method="post">
                        <button class="btn" type="submit">Logout</button>
                    </form>
                </li>
            <% } %>
        </ul>
      </nav>