    <link rel="stylesheet" href="/css/navbar.css" />
  </head>
  <body>
      <i id="menu-icon" class="menu-icon fa-solid fa-bars fa-2x"></i>
      <nav class="navbar">
        <ul class="navbar-list">
          <li class="navbar-list-item"><a href="/">Shop</a></li>
          <li class="navbar-list-item"><a href="/products">Products</a></li>
          <li class="navbar-list-item"><a href="#">Cart</a></li>
          <li class="navbar-list-item"><a href="#">Orders</a></li>
          <li class="navbar-list-item"><a href="/admin/add-product">Add Product</a></li>
          <li class="navbar-list-item"><a href="/admin/products">Admin Products</a></li>
        </ul>
      </nav>